<!-- <div class="sign-up-content"> -->
  <form>
    <h2 class="form-title">Sign Up</h2>

    <div class="form-group">
        <label for="name">Name</label>
        <input required ngModel type="text" name="name" id="name" />
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Name is required</div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input required ngModel type="email" name="email" id="email" />
        <div *ngIf="email.touched && !email.valid">Email is required</div>
    </div>

    <div class="form-group">
        <label for="pass">Password</label>
        <input ngModel type="password" name="password" id="pass" />
        <div *ngIf="password.touched && !password.valid">Password is required</div>
    </div>

    <div class="form-group">
        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
        <label for="agree-term" class="label-agree-term"><span>
          <span></span>
          </span>I agree all statements in  <a href="#" class="term-service">Terms of service</a>
        </label>
    </div>

    <div class="form-group">
        <input type="submit" name="submit" id="submit" class="submit" value="Create account" />
    </div>
</form>

<p class="loginhere">Already have an account ?<a href="#" class="loginhere-link"> Log in</a>
</p>
<!-- </div> -->




